include ../mixins/mixins.pug

+instagram("./../img/instagram/insta-01.jpg",
	"./../img/instagram/insta-02.jpg",
	"./../img/instagram/insta-03.jpg",
	"./../img/instagram/insta-04.jpg",
	"./../img/instagram/insta-05.jpg",
	"./../img/instagram/insta-06.jpg",
	"./../img/instagram/insta-07.jpg",
	"./../img/instagram/insta-08.jpg")