nav.nav
	ul.nav__list
		li.nav__list-item 
			a.nav__list-link(href="#") Latest Posts
		li.nav__list-item 
			a.nav__list-link(href="#") Popular Posts
	ul.nav__list
		li.nav__list-item 
			a.nav__list-link(href="#") Search
		li.nav__list-item 
			a.nav__list-link(href="#") Contact Information
	ul.nav__list
		li.nav__list-item 
			a.nav__list-link(href="#") Privacy Policy
		li.nav__list-item 
			a.nav__list-link(href="#") Terms of Use