.sidebar
	.posts-recent
		a.button.button--posts(href="#!") Recent posts
		include ../blocks/posts-recent.pug
	.posts-popular
		a.button.button--posts(href="#!") Popular posts
		include ../blocks/posts-popular.pug
	.instagram
		a.button.button--posts(href="#!") Instagram
		include ../blocks/instagram.pug