include ../mixins/mixins.pug

.sidebar
	.posts-recent
		a.widget(href="#!") Recent posts
		include ../blocks/posts-recent.pug
	.posts-popular
		a.widget(href="#!") Popular posts
		include ../blocks/posts-popular.pug
	.instagram
		a.widget(href="#!") Instagram
		+instagram("01","02","03","04","05","06","07","08")