footer.footer
	.footer__top 
		.container
			.footer__wrapper
				.footer__nav
					include ../blocks/nav.pug
				+social("instagram", "twitter", "whatsapp")
	.footer__bottom
		p © Copyright 2019. All rights reserved.