footer.footer
	.footer__top 
		.container
			.footer__wrapper
				.footer__nav
					include ../blocks/nav.pug
				ul.social
					li.social__item
						a.social__link(href="#")
							img(src="../../img/icons/social/instagram.svg")
					li.social__item
						a.social__link(href="#")
							img(src="../../img/icons/social/twitter.svg")
					li.social__item
						a.social__link(href="#")
							img(src="../../img/icons/social/facebook-f.svg")
	.footer__bottom
		p © Copyright 2019. All rights reserved.