header.header-top
	.header-top__container
		.header-top__wrapper
			ul.social
				li.social__item 
					a.social__link(href="#")
						img(src="../../img/icons/social/instagram.svg")
				li.social__item 
					a.social__link(href="#")
						img(src="../../img/icons/social/twitter.svg")
				li.social__item 
					a.social__link(href="#")
						img(src="../../img/icons/social/facebook-f.svg")
			.header-top__title
				h1.title Hipsum Blog
			.header-top__btn
				form.header-top__button-search
					button.search__button
						img(src="../../img/icons/search.svg")
				button.button Subscribe

